@font-face {
    font-family: 'arial-hebrew-scholar';
    src: url('../src/fonts/arial-hebrew-scholar.ttf') format('truetype'),
    /* Add more font formats if necessary */
    /* Add other font properties like font-weight and font-style if needed */
  }

*{
  scroll-behavior: smooth;
  overflow: hidden;
}